<div class="logo">
	<img src="/ABI.svg">
</div>
<div class="content">
	<div class="containers">
	    <div class="box">
	        <input type="text" placeholder="email" class="inp">
		    <input type="password" placeholder="password" class="inp">
		    <%= link_to "Forgot your password?", new_user_password_path, id: "forgot" %>
		    <button class="btn btn-default full-width hvr-sweep-to-right" id="btns"><span class="glyphicon glyphicon-ok"></span></button>
	    </div>
  	</div>
</div>
