<div class="logo">
  <img src="/ABI.svg">
</div>
<div class="containers">
<h3>Forgot your password?</h3>
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.email_field :email, :placeholder=>"Email",autofocus: true, class: "form_control inp"%>
	  </div>

	  <div class="actions">
	    <button class="btn btn-default full-width hvr-sweep-to-right" id="btns"><span class="glyphicon glyphicon-ok"></span>
        </button>
	  </div>
	<% end %>
	<br>

	<%= render "devise/shared/links" %>
</div>
